@import "tailwindcss";

:root {
    --theme-color-surface-100: oklch(100% 0 0);
    --theme-color-surface-200: oklch(98% 0 0);
    --theme-color-surface-300: oklch(95% 0 0);
    --theme-color-surface-content: oklch(21% 0.006 285.885);
    --theme-color-primary: oklch(76% 0.188 70.08);
    --theme-color-primary-content: oklch(98% 0.022 95.277);
    --theme-color-secondary: oklch(65% 0.241 354.308);
    --theme-color-secondary-content: oklch(94% 0.028 342.258);
    --theme-color-accent: oklch(77% 0.152 181.912);
    --theme-color-accent-content: oklch(38% 0.063 188.416);
    --theme-color-neutral: oklch(14% 0.005 285.823);
    --theme-color-neutral-content: oklch(92% 0.004 286.32);
    --theme-color-info: oklch(74% 0.16 232.661);
    --theme-color-info-content: oklch(29% 0.066 243.157);
    --theme-color-success: oklch(76% 0.177 163.223);
    --theme-color-success-content: oklch(37% 0.077 168.94);
    --theme-color-warning: oklch(82% 0.189 84.429);
    --theme-color-warning-content: oklch(41% 0.112 45.904);
    --theme-color-error: oklch(71% 0.194 13.428);
    --theme-color-error-content: oklch(100% 0.00011 271.152);
    --theme-color-border: oklch(94.007% 0.00011 271.152);
    --theme-color-high-emphasis: oklch(0% 0 0);
    --theme-color-medium-emphasis: oklch(70.576% 0.00008 271.152);
    --theme-color-low-emphasis: oklch(85.452% 0.0001 271.152);
}

.dark {
    --theme-color-surface-100: oklch(19.574% 0.00002 271.152);
    --theme-color-surface-200: oklch(23.075% 0.00003 271.152);
    --theme-color-surface-300: oklch(21.15% 0.012 254.09);
    --theme-color-surface-content: oklch(97.807% 0.029 256.847);
    --theme-color-primary: oklch(76% 0.188 70.08);
    --theme-color-primary-content: oklch(98% 0.022 95.277);
    --theme-color-secondary: oklch(65% 0.241 354.308);
    --theme-color-secondary-content: oklch(94% 0.028 342.258);
    --theme-color-accent: oklch(77% 0.152 181.912);
    --theme-color-accent-content: oklch(38% 0.063 188.416);
    --theme-color-neutral: oklch(26.448% 0.00003 271.152);
    --theme-color-neutral-content: oklch(92% 0.004 286.32);
    --theme-color-info: oklch(74% 0.16 232.661);
    --theme-color-info-content: oklch(29% 0.066 243.157);
    --theme-color-success: oklch(76% 0.177 163.223);
    --theme-color-success-content: oklch(37% 0.077 168.94);
    --theme-color-warning: oklch(82% 0.189 84.429);
    --theme-color-warning-content: oklch(41% 0.112 45.904);
    --theme-color-error: oklch(71% 0.194 13.428);
    --theme-color-error-content: oklch(100% 0.00011 271.152);
    --theme-color-border: oklch(39.418% 0.00004 271.152);
    --theme-color-high-emphasis: oklch(100% 0.00011 271.152);
    --theme-color-medium-emphasis: oklch(65.996% 0.00008 271.152);
    --theme-color-low-emphasis: oklch(29.313% 0.00003 271.152);
}

@theme inline {
    --color-surface-100: var(--theme-color-surface-100);
    --color-surface-200: var(--theme-color-surface-200);
    --color-surface-300: var(--theme-color-surface-300);
    --color-surface-content: var(--theme-color-surface-content);
    --color-primary: var(--theme-color-primary);
    --color-primary-content: var(--theme-color-primary-content);
    --color-secondary: var(--theme-color-secondary);
    --color-secondary-content: var(--theme-color-secondary-content);
    --color-accent: var(--theme-color-accent);
    --color-accent-content: var(--theme-color-accent-content);
    --color-neutral: var(--theme-color-neutral);
    --color-neutral-content: var(--theme-color-neutral-content);
    --color-info: var(--theme-color-info);
    --color-info-content: var(--theme-color-info-content);
    --color-success: var(--theme-color-success);
    --color-success-content: var(--theme-color-success-content);
    --color-warning: var(--theme-color-warning);
    --color-warning-content: var(--theme-color-warning-content);
    --color-error: var(--theme-color-error);
    --color-error-content: var(--theme-color-error-content);
    --color-border: var(--theme-color-border);
    --color-high-emphasis: var(--theme-color-high-emphasis);
    --color-medium-emphasis: var(--theme-color-medium-emphasis);
    --color-low-emphasis: var(--theme-color-low-emphasis);
    --radius-field: 1.5rem;
    --radius-chip: 0.25rem;
    --radius-surface: 1.5rem;
    --margin-xs: 0.5rem;
    --margin-sm: 1.2rem;
    --margin-md: 2rem;
    --padding-xs: 0.5rem;
    --padding-sm: 1.2rem;
    --padding-md: 2rem;
    --gap-xs: 0.5rem;
    --gap-sm: 1.2rem;
    --gap-md: 2rem;
    --width-field: 3rem;
    --height-field: 3rem;
}

/* Target scrollbar track */
.scrollable::-webkit-scrollbar {
    /* width: 4px; */
    width: 0;
    /* for vertical */
    height: 4px;
    /* for horizontal */
}

/* Track background */
.scrollable::-webkit-scrollbar-track {
    background: var(--color-base-200);
}

/* Thumb (the draggable part) */
.scrollable::-webkit-scrollbar-thumb {
    background: var(--color-base-300);
    border-radius: 1px;
}

/* On hover */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: var(--color-base-300);
}

*:focus {
    @apply outline-none ring-0;
}

dialog::backdrop {
    background: #000000;
}

button.button {
    @apply rounded-field text-lg px-sm h-field min-h-field;
}

button.button-leading-icon {
    @apply flex flex-row flex-nowrap items-center gap-[0.5rem];
}

button.button-trailing-icon {
    @apply flex flex-row flex-nowrap justify-between items-center;
}

button.button-border {
    @apply border border-border;
}

button.button-icon {
    @apply rounded-4xl text-sm w-16 h-16 flex flex-row justify-center items-center transition-colors hover:bg-neutral;
}

button.button-icon-field {
    @apply rounded-field text-sm w-field h-field flex flex-row justify-center items-center transition-colors hover:bg-neutral;
}

button.button-icon-sm {
    @apply rounded-[1rem] text-sm w-[2rem] h-[2rem] flex flex-row justify-center items-center transition-colors hover:bg-neutral;
}