@import "tailwindcss";

:root {
    --theme-color-base-100: oklch(100% 0 0);
    --theme-color-base-200: oklch(98% 0 0);
    --theme-color-base-300: oklch(95% 0 0);
    --theme-color-base-content: oklch(21% 0.006 285.885);
    --theme-color-primary: oklch(76% 0.188 70.08);
    --theme-color-primary-content: oklch(98% 0.022 95.277);
    --theme-color-secondary: oklch(65% 0.241 354.308);
    --theme-color-secondary-content: oklch(94% 0.028 342.258);
    --theme-color-accent: oklch(77% 0.152 181.912);
    --theme-color-accent-content: oklch(38% 0.063 188.416);
    --theme-color-neutral: oklch(14% 0.005 285.823);
    --theme-color-neutral-content: oklch(92% 0.004 286.32);
    --theme-color-info: oklch(74% 0.16 232.661);
    --theme-color-info-content: oklch(29% 0.066 243.157);
    --theme-color-success: oklch(76% 0.177 163.223);
    --theme-color-success-content: oklch(37% 0.077 168.94);
    --theme-color-warning: oklch(82% 0.189 84.429);
    --theme-color-warning-content: oklch(41% 0.112 45.904);
    --theme-color-error: oklch(71% 0.194 13.428);
    --theme-color-error-content: oklch(27% 0.105 12.094);
    --theme-radius-field: 0.25rem;
    --theme-radius-chip: 0.25rem;
    --theme-radius-surface: 0.5rem;
}

.dark {
    --theme-color-base-100: oklch(25.33% 0.016 252.42);
    --theme-color-base-200: oklch(23.26% 0.014 253.1);
    --theme-color-base-300: oklch(21.15% 0.012 254.09);
    --theme-color-base-content: oklch(97.807% 0.029 256.847);
    --theme-color-primary: oklch(76% 0.188 70.08);
    --theme-color-primary-content: oklch(98% 0.022 95.277);
    --theme-color-secondary: oklch(65% 0.241 354.308);
    --theme-color-secondary-content: oklch(94% 0.028 342.258);
    --theme-color-accent: oklch(77% 0.152 181.912);
    --theme-color-accent-content: oklch(38% 0.063 188.416);
    --theme-color-neutral: oklch(14% 0.005 285.823);
    --theme-color-neutral-content: oklch(92% 0.004 286.32);
    --theme-color-info: oklch(74% 0.16 232.661);
    --theme-color-info-content: oklch(29% 0.066 243.157);
    --theme-color-success: oklch(76% 0.177 163.223);
    --theme-color-success-content: oklch(37% 0.077 168.94);
    --theme-color-warning: oklch(82% 0.189 84.429);
    --theme-color-warning-content: oklch(41% 0.112 45.904);
    --theme-color-error: oklch(71% 0.194 13.428);
    --theme-color-error-content: oklch(27% 0.105 12.094);
    --theme-radius-field: 0.25rem;
    --theme-radius-chip: 0.25rem;
    --theme-radius-surface: 0.5rem;
}

@theme inline {
    --color-base-100: var(--theme-color-base-100);
    --color-base-200: var(--theme-color-base-200);
    --color-base-300: var(--theme-color-base-300);
    --color-base-content: var(--theme-color-base-content);
    --color-primary: var(--theme-color-primary);
    --color-primary-content: var(--theme-color-primary-content);
    --color-secondary: var(--theme-color-secondary);
    --color-secondary-content: var(--theme-color-secondary-content);
    --color-accent: var(--theme-color-accent);
    --color-accent-content: var(--theme-color-accent-content);
    --color-neutral: var(--theme-color-neutral);
    --color-neutral-content: var(--theme-color-neutral-content);
    --color-info: var(--theme-color-info);
    --color-info-content: var(--theme-color-info-content);
    --color-success: var(--theme-color-success);
    --color-success-content: var(--theme-color-success-content);
    --color-warning: var(--theme-color-warning);
    --color-warning-content: var(--theme-color-warning-content);
    --color-error: var(--theme-color-error);
    --color-error-content: var(--theme-color-error-content);
    --radius-field: var(--theme-radius-field);
    --radius-chip: var(--theme-radius-chip);
    --radius-surface: var(--theme-radius-surface);
}

/* Target scrollbar track */
.scrollable::-webkit-scrollbar {
    /* width: 4px; */
    width: 0;
    /* for vertical */
    height: 4px;
    /* for horizontal */
}

/* Track background */
.scrollable::-webkit-scrollbar-track {
    background: var(--color-base-200);
}

/* Thumb (the draggable part) */
.scrollable::-webkit-scrollbar-thumb {
    background: var(--color-base-300);
    border-radius: 1px;
}

/* On hover */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: var(--color-base-300);
}

*:focus {
    @apply outline-none ring-0;
}